@mixin cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-container {
  width: 9em;
  height: 25em;

  position: fixed;
  right: 0.5%;
  top: 50%;
  transform: translateY(-50%);
  @include cent();
  z-index: 1000;
  .menu-for-post-creation-background,
  .menu-home-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/menu-border-for-home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
    // background-color: aqua;
      @include cent();
    .menu-for-post-creation,
    .menu-container-for-home {
      position: absolute;
      left: 6%;
      width: 70%;
      height: 50%;
      @include cent();
      flex-wrap: wrap;
      // display: none;
      div {
        cursor: pointer;
        width: 99%;
        height: 5em;
        color: var(--colorXX);
        background-position: center;
        background-repeat: no-repeat;
        @include cent();
        // background-size: 40%;
        &:hover {
          transform: scale(1.1);
        }
        &:active{
              transform: scale(1);
        }
      }
      .go-to-profile-page {
        background-image: url(./images/profile-icon.svg);
          background-size: 45%;
        // background: darkcyan;
      }
      .send-post {
        background-image: url(./images/min-border.svg);
        // background: darkcyan;
        background-size: 70%;
  
        font-weight: 900;
        //    &:hover{
        //             transform: scale(1.1);
        //         }
      }
    }
    .menu-container-for-home {
      display: flex;
      height: 90%;
      .go-to-creat-post{
             background-image: url(./images/go-to-post-creator.svg);
      }
      .go-on-top{
             background-image: url(./images/go-on-top.svg);
      }
    }
  }
    .menu-for-post-creation-background{
           background-image :url(./images/menu-border-for-post-creator.svg);
          display: none;
    }
}
