@mixin cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container-for-positon {
    margin-top: 1em;
    margin-bottom: 16em;
    @include cent();
    flex-wrap: wrap;
    .the-post-container {
        // background: salmon;
        width: 65%;
        height: auto;
        max-width: 75em;
        // ###########################
        .post-author-container {
            width: 100%;
            // max-width: 75em;
            height: 4em;
            margin-bottom: 1em;
            @include cent();
            justify-content: flex-start;
            .post-author-picture {
                width: 3em;
                height: 3em;
                border: 0.1em #000 solid;
                border-radius: 0.3em;
                margin-right: 1em;
                margin-left: 1em;
                background-position: center;
                background-size: 100%;
            }
        }
        // ###########################
        .post-infos_container {
            width: 100%;
            // max-width: 75em;
            height: 2em;
            @include cent();
            align-items: stretch;
            .post-title {
                position: absolute;
                min-width: 25%;
                max-width: 85%;
                width: auto;
                left: 0;
                height: 2em;
                padding-left: 1em;
                padding-top: 0.7em;
                font-weight: 900;
                color: var(--colorText);
                background-color: var(--colorWhite);
                &::after {
                    content: "";
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    background: var(--colorWhite);
                    right: -2em;
                    top: 0;
                    clip-path: polygon(0 0, 0 0, 100% 100%, 0% 100%);
                }
            }
            .post-date {
                position: absolute;
                right: 0;
                height: 2em;
                width: auto;
                font-weight: -100;
                color: var(--colorXX);
                font-family: Iceland;
                font-weight: 200;
                padding-right: 1em;
                padding-top: 0.2em;
            }
        }
        // ###########################
        .post {
            width: 100%;
            height: auto;
            margin: auto;
            background-color: var(--colorWhite);
            @include cent();
            flex-wrap: wrap;
            .post-image {
                overflow: hidden;
                width: 100%;
                max-height: 20em;
                @include cent();
                // padding: 0.5em;
                border: 0.3em var(--colorWhite) solid;
                img {
                    background-color: aqua;
                }
            }
            .post-body {
                padding: 0.5em;
                width: 100%;
                min-height: 4em;
                word-break: break-word;
                white-space: pre-wrap;
            }
        }
        // ###########################
        .post-options {
            width: 100%;
            height: auto;
            .creat-response-container {
                // position: absolute;
                z-index: 7;
                width: 38%;
                height: 2em;
                background: var(--colorWhite);
                padding: 0.5em;
                padding-left: 1em;
                &::after {
                    content: "";
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    background: var(--colorWhite);
                    right: -2em;
                    top: 0;
                    clip-path: polygon(0 0, 110% 0, 100% 0%, 0% 100%);
                }
            }
        }
        // ###########################
        .top-response-container {
            width: 100%;
            min-height: 5em;
            margin-top: 0.5em;
            // background: salmon;
            border: 0.1em var(--colorBlack) solid;
        }
    }
}
